/**/

header{
    background-color: #92bd3f;
    padding-bottom: 5px;
    position: fixed;
    top: 0;
    left:0;
    width: 100%;
    margin-top: 0px;
}

footer{
    padding-left: 15%;
    padding-bottom: 5px;
}
body{
    background-color: #FFFDEA;
    font-family: "Calibri, Helvetica, sans-serif";
    font-size: 1em;
        
}

form{
margin-left: 40%;
margin-top: 4%;
}

h1{
   text-align: center;
   padding-left: 2%;
   color: #fffdea;
   font-size: 30pt;
}
/*ORGANIZING CONTENT*/
h2{
    padding-left: 15%;
    padding-top: 8%;
}



h3, p{
    padding-left: 15%;
}

iframe{ 
display: block;
margin: 2% 0 0 32%; 

}

#fileToUpload{
padding: 3% 0 3% 13%;

}
form img{
padding:0 0 0 17%
}

form input[type=submit]{
margin: 2% 0% 0% 19%;
padding: 1% 2%;
}

/*FIGURES*/
figure{
    padding-left: 15%;
}
figure.waterman{
    max-width: 400px;
}
figure.yes{
   align-content: center;
}
figure.header{
    max-width: 100px;
    float: left;
    padding-left: 10px;
}
ul.building{
    padding-left: 15%;
}
/*TABLE FORMATTING*/
table{
    border:1px solid black;
    margin-left: 15%;
}
th{
    border: 1px solid black;
}

td{
    border: 1px solid black;
    padding-left: 3px;
}

/*NAVIGATION BAR*/
nav{
    position: fixed;
    left: 0;
}
ul.nav{
    list-style-type: none;
    padding-right: 1%;
    width: 10%;
    background-color: #92bd3f;
    position: fixed;
    height: 100%;
    overflow: auto; 
    margin-top: 4em;
    padding-top: 2em;    
}


ul li a, ul li {
    text-align: center;
    text-decoration: none;
    color: #fff;
    font-weight:bold;
    font-size: 16pt;
margin-bottom: 50px;
padding: 2px;


}

li:hover a {
    background: #005A31;
    color: #fff;
}